<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Add Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item>
    <ion-label>Date:</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
  </ion-item> -->

  <ion-item>
    <ion-label position="floating">Date:</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="newDate.date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Start Time:</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="newDate.from"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End Time:</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="newDate.to"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-checkbox color="primary" [(ngModel)]="newDate.byProd" (ionChange)="byProdFocus()"></ion-checkbox>
    <ion-label class="byProdLabel">By production</ion-label>  
  </ion-item>
  <ion-item [hidden]="!newDate.byProd">
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" #byProd [(ngModel)]="newDate.quantity"></ion-input>
  </ion-item>

  <ion-item [hidden]="newDate.byProd">
    <ion-checkbox color="primary" [(ngModel)]="newDate.hadLunch"></ion-checkbox>
    <ion-label class="byProdLabel">Lunch Time</ion-label>  
  </ion-item>
  <ion-item [hidden]="!newDate.hadLunch || newDate.byProd">
    <ion-label position="floating">Lunch Time (minutes)</ion-label>
    <ion-input type="number" [(ngModel)]="newDate.lunchTime"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Comments</ion-label>
    <ion-input [(ngModel)]="newDate.comments"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="addTime()">Add Time</ion-button>

</ion-content>
