<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title *ngIf="!editMode">Add Time</ion-title>
    <ion-title *ngIf="editMode">Edit Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <!-- <ion-item>
    <ion-label>Date:</ion-label>
    <ion-datetime displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label position="floating">Date:</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="newDate.date"></ion-datetime>
  </ion-item> -->

  <ion-item lines="none">
    <mat-form-field class="datePicker" appearance="standard">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="newDate.date" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  
  </ion-item>
  


  <!-- <ion-item>
    <ion-label>Start Time:</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="newDate.startTime"></ion-datetime>
  </ion-item> -->

  <!-- <ion-item>
    <div class="editable-dial-example">
      <ion-label>Start Time:</ion-label>
      <ngx-timepicker-field [format]="24" [(ngModel)]="newDate.startTime" readonly></ngx-timepicker-field>
      <ngx-material-timepicker #editableDial [enableKeyboardInput]="true" [appendToInput]="true"></ngx-material-timepicker>
    </div>
  </ion-item> -->

  <ion-item lines="none">
    <div class="time">
      <ion-label>Start Time:</ion-label>
      <input placeholder="Select Time..." [ngxTimepicker]="startTime" [format]="24" [(ngModel)]="newDate.startTime" readonly>
      <ngx-material-timepicker-toggle [for]="startTime"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #startTime></ngx-material-timepicker>
    </div>
  </ion-item>


  <!-- <ion-item>
    <ion-label>End Time:</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="newDate.endTime"></ion-datetime>
  </ion-item> -->

  <!-- <ion-item>
    <div class="editable-dial-example">
      <ion-label>End Time:</ion-label>
      <ngx-timepicker-field [format]="24" [(ngModel)]="newDate.endTime"></ngx-timepicker-field>
      <ngx-material-timepicker #editableDial [enableKeyboardInput]="true" [appendToInput]="true"></ngx-material-timepicker>
    </div>
  </ion-item> -->

  <ion-item>
    <div class="time end">
      <ion-label>End Time:</ion-label>
      <input placeholder="Select Time..." [ngxTimepicker]="endTime" [format]="24" [(ngModel)]="newDate.endTime" readonly>
      <ngx-material-timepicker-toggle [for]="endTime"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #endTime></ngx-material-timepicker>
    </div>
  </ion-item>


  <ion-item>
    <ion-checkbox color="primary" [(ngModel)]="newDate.byProd" (ionChange)="byProdFocus()"></ion-checkbox>
    <ion-label class="byProdLabel">By production</ion-label>  
  </ion-item>
  <ion-item [hidden]="!newDate.byProd">
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" #byProd [(ngModel)]="newDate.quantity"></ion-input>
  </ion-item>

  <ion-item [hidden]="newDate.byProd">
    <ion-checkbox color="primary" [(ngModel)]="newDate.hadLunch"></ion-checkbox>
    <ion-label class="byProdLabel">Lunch Time</ion-label>  
  </ion-item>
  <ion-item [hidden]="!newDate.hadLunch || newDate.byProd">
    <ion-label position="floating">Lunch Time (minutes)</ion-label>
    <ion-input type="number" [(ngModel)]="newDate.lunchTime"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Task</ion-label>
    <ion-select [(ngModel)]="selectedTask" [placeholder]="selectedTask.name ? selectedTask.name : 'Tap to select..'">
      <ion-select-option *ngFor="let task of settings.tasks" [value]="task">{{task.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <div id="rates" *ngIf="selectedTask.name !== ''">
    <ion-item *ngIf="!newDate.byProd" lines="none">
      <ion-label position="floating">Hourly Rate</ion-label>
      <ion-input [(ngModel)]="selectedTask.hourlyRate"></ion-input>
    </ion-item>
    <ion-item *ngIf="newDate.byProd" lines="none">
      <ion-label position="floating">Production pay</ion-label>
      <ion-input [(ngModel)]="selectedTask.prodRate"></ion-input>
    </ion-item>
  </div>

  <ion-item *ngIf="createTaskMessage" lines="none">
    <ion-label id="taskMEssage">You can add new tasks in <a (click)="goToSettings()">Settings</a>.</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Comments</ion-label>
    <ion-input [(ngModel)]="newDate.comments"></ion-input>
  </ion-item>

  <!-- <ion-button expand="block" color="primary" (click)="saveTime()">Add Time</ion-button> -->
  <ion-button [disabled]="readyToSave()" expand="block" color="primary" (click)="saveTime()">{{ editMode ? ('Update') : ('Save') }}</ion-button>


</ion-content>
