ion-content.background{
    --background: url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;
    --ion-background-color: transparent !important;

    .datePicker {
        width: 263px;
        outline: none;
    }

    // Hidde input underline
    ::ng-deep .mat-form-field-underline {
        display: none;
    }
}

.byProdLabel {
    padding-left: 10px;
}

.time {
    input {
        background: transparent !important;
        border: hidden;
    }
    ngx-material-timepicker-toggle {
        display: inline-block;
    }
    // Hide borders on input focus
    input:focus {
        outline-width: 0;
    }
}

.end {
    padding-top: 10px;
    padding-bottom: 10px;
}

#rates {
    margin-left: 30px;
    background-color: #d5d5d4;
}

#taskMEssage {
    font-size: 14px;
    color: #595959;
}