<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  
  <mat-date-range-picker #picker></mat-date-range-picker>


  <ion-button expand="block" color="primary" (click)="search()">Save as PDF</ion-button>


</ion-content>
