<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="selectDates">
    <ion-item lines="none">
      <ion-label>
        Select dates to search by range
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">From</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="searchDates.fromDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">To</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="searchDates.toDate"></ion-datetime>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="search()">Search</ion-button>
  </div>

</ion-content>