<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="icon" src="assets/icons/icon-256x256.png"></ion-img>
  <div class="credentials">
    <ion-item>
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input #input type="password" [(ngModel)]="user.password"></ion-input>
      <ion-icon [name]="showIcon" color="primary" slot="end" (click)="showPassword(input)"></ion-icon>
    </ion-item>
  </div>
  <div class="buttons">
    <ion-button expand="block" (click)="logIn()" [disabled]="user.password =='' || user.email =='' ">Login</ion-button>
    <ion-button expand="block" routerLink="/registration">New User</ion-button>
  </div>
</ion-content>