<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-title text-center>Welcome</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="login">
  
  <ion-img class="icon" src="assets/icons/icon-256x256.png"></ion-img>
  <div class="appDescription">
    <ion-card>
      <ion-label>
        <b>My Timesheet</b> is perfect for self-employed, freelancers, contractors, hourly workers and employees to use 
        as time card, know your working hours, automatically calculate earnings, submit time sheet to managers. 
        Start using the app for free creating a new user or logging in.
      </ion-label>
    </ion-card>
  </div>
  <div class="credentials">
    <ion-item>
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input #input type="password" [(ngModel)]="user.password"></ion-input>
      <ion-icon [name]="showIcon" color="dark" slot="end" (click)="showPassword(input)"></ion-icon>
    </ion-item>
  </div>
  <div class="buttons">
    <ion-button expand="block" (click)="logIn()" [disabled]="user.password =='' || user.email =='' ">Login</ion-button>
    <ion-button expand="block" routerLink="/registration">New User</ion-button>
  </div>
</ion-content>