<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Timesheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div class="fromToDates">
    <strong id="from">From: "20/06/2020"</strong>
    <strong id="to">To: "27/06/2020"</strong>
  </div>
  <div>
    <strong id="total">Total weekly hours: "20"</strong>
  </div> -->

  <div class="fromToDates">
    <div class="col">
      <strong id="from">From: "20/06/2020"</strong>
    </div>
    <div class="col">
      <strong id="to">To: "27/06/2020"</strong>
    </div>
  </div>
  <div class="totalHours">
    <strong id="total">Total weekly hours: "20"</strong>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="addTime()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
