ion-content.background{
  --background: url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;
}

.fromToDates {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border:1px solid #cccccc;
    padding: 10px;
  }
}
.totalHours {
    width: 100%;
    text-align: center;
    border:1px solid  #cccccc;
    padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  // width: 100%;
  
  ion-icon {
    flex-grow: 1;
  }
  
  ion-card {
    flex-grow: 11;
    opacity: 0.7;
    min-height: 70vh;
  }
  
  #listDate {
    font-weight: bold;
  }
  
  #listTimes {
    text-align: center;
  }

  .noContent {
    text-align: center;
    display: block;
    padding-top: 80%;
  }
  #hadLunch {
    display: block;
    text-align: center;
    font-size: smaller;
  }
}
.homeSpinner {
  transform: scale(2);
  display: block;
  margin: auto;
  padding-top: 30%;
  min-height: 70vh;
}

.swipeLeftAnimation {
  animation: bounceInLeft;
  animation-duration: 1s;
}

.swipeRightAnimation {
  animation: bounceInRight;
  animation-duration: 1s;
}

.dateAnimation {
  animation: headShake;
  animation-duration: 1s;
}

#footer {
  color: rgb(78, 78, 78);
  margin-left: -25%;
  font-size: 0.8em;
  // font-family: fantasy;
}

#footerOffLine {
  font-size: 0.8em;
  margin-left: -13%;
  color: green;
}

#taskName {
  display: block;
}