ion-content.background{
  --background: url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;
}

.fromToDates {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border:1px solid #cccccc;
    padding: 10px;
  }
}
.totalHours {
    width: 100%;
    text-align: center;
    border:1px solid  #cccccc;
    padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  
  ion-icon {
    flex-grow: 1;
  }
  
  ion-card {
    flex-grow: 11;
    opacity: 0.7;
  }
  
  #listDate {
    font-weight: bold;
  }
  
  #listTimes {
    text-align: center;
  }

  #noContent {
    text-align: center;
    display: block;
  }
}
.homeSpinner {
  transform: scale(2);
  display: block;
  margin: auto;
  padding-top: 30%;
}