$font-color: #e0e0e0;

.required {
    color: red;
}
.registration {
    --background: darkslategrey;
    // --background: url(../../../assets/loginBackground.jpg) 0 0/100% 100% no-repeat;
    --ion-background-color: transparent !important;

    form {
        margin: 20px;
    }
    .passConditions {
        font-size: 0.8em;
        color: $font-color;
    }
    ion-label {
        color: $font-color;
    }
    ion-input {
        color: $font-color;
    }
    //Input when focused within ion item
    ion-item.item-has-focus > ion-label{
        color: $font-color !important;
    }
}