<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="login.name" name="name"></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="login.email" name="email"></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input #inputPass type="password" [(ngModel)]="login.password" name="password"></ion-input>
      <ion-icon [name]="showIconPass" color="primary" slot="end" (click)="showPassword(inputPass)"></ion-icon>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">
        Confirm Password
        <span *ngIf="confPass" class="required">&#42;</span>
      </ion-label>
      <ion-input #inputCPass type="password" [(ngModel)]="login.confPassword" name="confPassword"></ion-input>
      <ion-icon [name]="showIconCPass" color="primary" slot="end" (click)="showPassword(inputCPass)"></ion-icon>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp()" expand="block" [disabled]="login.email == '' || login.password == '' || login.confPassword == '' ">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>